UtilsEtc/B2GInvoicing/B2GIncoming_Receive/B2GFinaInvoiceWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			 xmlns:b2gEracImpl="http://fina.hr/eracun/b2g/ws/erp/v0.1" 
			 xmlns:eb="http://fina.hr/eracun/b2g/EchoBuyer/v0.1"
			 xmlns:ciis="http://fina.hr/eracun/b2g/ChangeB2GIncomingInvoiceStatus/v0.1" 
			 xmlns:gil="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoiceList/v0.1" 
			 xmlns:gi="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoice/v0.1"
			 xmlns:gol="http://fina.hr/eracun/b2g/sync/GetB2GOutgoingInvoiceList/v0.1" 
			 xmlns:go="http://fina.hr/eracun/b2g/sync/GetB2GOutgoingInvoice/v0.1" 
			 xmlns:grl="http://fina.hr/eracun/b2g/sync/GetReceiverList/v0.1"
			 targetNamespace="http://fina.hr/eracun/b2g/ws/erp/v0.1">
	<types>
		<xsd:schema targetNamespace="http://fina.hr/eracun/b2g/ws/erp/v0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://fina.hr/eracun/b2g/EchoBuyer/v0.1" schemaLocation="EchoBuyerMsg.xsd"/>
			<xsd:import namespace="http://fina.hr/eracun/b2g/ChangeB2GIncomingInvoiceStatus/v0.1" schemaLocation="ChangeB2GIncomingInvoiceStatusMsg.xsd"/>
			<xsd:import namespace="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoiceList/v0.1" schemaLocation="GetB2GIncomingInvoiceListMsg.xsd"/>
			<xsd:import namespace="http://fina.hr/eracun/b2g/sync/GetB2GIncomingInvoice/v0.1" schemaLocation="GetB2GIncomingInvoiceMsg.xsd"/>			
			<xsd:import namespace="http://fina.hr/eracun/b2g/sync/GetB2GOutgoingInvoiceList/v0.1" schemaLocation="GetB2GOutgoingInvoiceListMsg.xsd"/>
			<xsd:import namespace="http://fina.hr/eracun/b2g/sync/GetB2GOutgoingInvoice/v0.1" schemaLocation="GetB2GOutgoingInvoiceMsg.xsd"/>
			<xsd:import namespace="http://fina.hr/eracun/b2g/sync/GetReceiverList/v0.1" schemaLocation="GetReceiverListMsg.xsd"/>			
		</xsd:schema>
	</types>
	<message name="EchoBuyerSoapIn">
		<part name="body" element="eb:EchoBuyerMsg"/>
	</message>
	<message name="EchoBuyerSoapOut">
		<part name="bodyAck" element="eb:EchoBuyerAckMsg"/>
	</message>
	<message name="ChangeB2GIncomingInvoiceStatusSoapIn">
		<part name="body" element="ciis:ChangeB2GIncomingInvoiceStatusMsg"/>
	</message>
	<message name="ChangeB2GIncomingInvoiceStatusSoapOut">
		<part name="bodyAck" element="ciis:ChangeB2GIncomingInvoiceStatusAckMsg"/>
	</message>
	<message name="GetB2GIncomingInvoiceListSoapIn">
		<part name="body" element="gil:GetB2GIncomingInvoiceListMsg"/>
	</message>
	<message name="GetB2GIncomingInvoiceListSoapOut">
		<part name="bodyAck" element="gil:GetB2GIncomingInvoiceListAckMsg"/>
	</message>
	<message name="GetB2GIncomingInvoiceSoapIn">
		<part name="body" element="gi:GetB2GIncomingInvoiceMsg"/>
	</message>
	<message name="GetB2GIncomingInvoiceSoapOut">
		<part name="bodyAck" element="gi:GetB2GIncomingInvoiceAckMsg"/>
	</message>
	<message name="GetB2GOutgoingInvoiceListSoapIn">
		<part name="body" element="gol:GetB2GOutgoingInvoiceListMsg"/>
	</message>
	<message name="GetB2GOutgoingInvoiceListSoapOut">
		<part name="bodyAck" element="gol:GetB2GOutgoingInvoiceListAckMsg"/>
	</message>
	<message name="GetB2GOutgoingInvoiceSoapIn">
		<part name="body" element="go:GetB2GOutgoingInvoiceMsg"/>
	</message>
	<message name="GetB2GOutgoingInvoiceSoapOut">
		<part name="bodyAck" element="go:GetB2GOutgoingInvoiceAckMsg"/>
	</message>	
	<message name="GetReceiverListSoapIn">
		<part name="body" element="grl:GetReceiverListMsg"/>
	</message>
	<message name="GetReceiverListSoapOut">
		<part name="bodyAck" element="grl:GetReceiverListAckMsg"/>
	</message>	
	<portType name="FinaInvoiceB2GPortType">
		<operation name="echo">
			<input message="b2gEracImpl:EchoBuyerSoapIn"/>
			<output message="b2gEracImpl:EchoBuyerSoapOut"/>
		</operation>
		<operation name="changeB2GIncomingInvoiceStatus">
			<input message="b2gEracImpl:ChangeB2GIncomingInvoiceStatusSoapIn"/>
			<output message="b2gEracImpl:ChangeB2GIncomingInvoiceStatusSoapOut"/>
		</operation>
		<operation name="getB2GIncomingInvoiceList">
			<input message="b2gEracImpl:GetB2GIncomingInvoiceListSoapIn"/>
			<output message="b2gEracImpl:GetB2GIncomingInvoiceListSoapOut"/>
		</operation>
		<operation name="getB2GIncomingInvoice">
			<input message="b2gEracImpl:GetB2GIncomingInvoiceSoapIn"/>
			<output message="b2gEracImpl:GetB2GIncomingInvoiceSoapOut"/>
		</operation>
		<operation name="getB2GOutgoingInvoiceList">
			<input message="b2gEracImpl:GetB2GOutgoingInvoiceListSoapIn"/>
			<output message="b2gEracImpl:GetB2GOutgoingInvoiceListSoapOut"/>
		</operation>
		<operation name="getB2GOutgoingInvoice">
			<input message="b2gEracImpl:GetB2GOutgoingInvoiceSoapIn"/>
			<output message="b2gEracImpl:GetB2GOutgoingInvoiceSoapOut"/>
		</operation>		
		<operation name="getReceiverList">
			<input message="b2gEracImpl:GetReceiverListSoapIn"/>
			<output message="b2gEracImpl:GetReceiverListSoapOut"/>
		</operation>		
	</portType>
	<binding name="FinaInvoiceB2GBinding" type="b2gEracImpl:FinaInvoiceB2GPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="echo">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/EchoBuyer" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="changeB2GIncomingInvoiceStatus">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/ChangeB2GIncomingInvoiceStatus" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getB2GIncomingInvoiceList">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/GetB2GIncomingInvoiceList" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getB2GIncomingInvoice">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/GetB2GIncomingInvoice" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>		
		<operation name="getB2GOutgoingInvoiceList">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/GetB2GOutgoingInvoiceList" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getB2GOutgoingInvoice">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/GetB2GOutgoingInvoice" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getReceiverList">
			<soap:operation soapAction="http://fina.hr/eracun/b2g/GetReceiverList" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		
	</binding>
	<service name="B2GFinaInvoiceWebService">
		<port name="FinaInvoiceB2GPortType" binding="b2gEracImpl:FinaInvoiceB2GBinding">
			<soap:address location="http://ADDRESS/B2GFinaInvoiceWebService"/>
		</port>
	</service>
</definitions>
