XSD/ObrazacIDtipovi-v3-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacID/v3-0" xmlns:meta="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" xmlns:ispostave="http://e-porezna.porezna-uprava.hr/sheme/temeljno/SifrarnikIspostave/v2-0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:temeljni="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" targetNamespace="http://e-porezna.porezna-uprava.hr/sheme/zahtjevi/ObrazacID/v3-0" elementFormDefault="qualified" version="3.0" id="ObrazacIDtipovi-v3-0" xml:lang="hr-HR">
	<xsd:annotation>
		<xsd:documentation>XML shema sadrži tipove koji definiraju sadržaj ID obrasca</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/TemeljniTipovi/v2-1" schemaLocation="TemeljniTipovi-v2-1.xsd"/>
	<xsd:import namespace="http://e-porezna.porezna-uprava.hr/sheme/Metapodaci/v2-0" schemaLocation="ObrazacIDmetapodaci-v3-0.xsd"/>
	<xsd:complexType name="sObrazacID">
		<xsd:annotation>
			<xsd:documentation>Struktura ID obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="meta:Metapodaci"/>
			<xsd:element name="Zaglavlje" type="sZaglavlje"/>
			<xsd:element name="Tijelo" type="sTijelo"/>
		</xsd:sequence>
		<xsd:attribute name="verzijaSheme" use="required" fixed="3.0"/>
	</xsd:complexType>
	<xsd:complexType name="sRazdoblje">
		<xsd:annotation>
			<xsd:documentation>Struktura razdoblja (vremenski period)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DatumOd" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Početni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatumDo" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Završni datum</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPoslovniSubjekt">
		<xsd:annotation>
			<xsd:documentation>Podaci o poslovnom subjektu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="Ime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Ime ili naziv poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Prezime" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
						<xsd:annotation>
							<xsd:documentation>Prezime poslovnog subjekta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:element name="Naziv" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
					<xsd:annotation>
						<xsd:documentation>Naziv poslovnog subjekta</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="OIB" type="temeljni:tOIB">
				<xsd:annotation>
					<xsd:documentation>OIB poslovnog subjekta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sAdresa">
		<xsd:annotation>
			<xsd:documentation>Adresa</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Mjesto" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv mjesta</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ulica" type="temeljni:tOgraniceniZnakovniNizMin2Max128">
				<xsd:annotation>
					<xsd:documentation>Naziv ulice</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Broj" type="temeljni:tAdresaBroj">
				<xsd:annotation>
					<xsd:documentation>Kućni broj</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sZaglavlje">
		<xsd:annotation>
			<xsd:documentation>Zaglavlje obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PodrucniUred" type="temeljni:tOgraniceniZnakovniNizMin2Max128"/>
			<xsd:element name="Ispostava" type="temeljni:tIspostava"/>
			<xsd:element name="Razdoblje" type="sRazdoblje"/>
			<xsd:element name="PodnositeljZahtjeva">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="sPoslovniSubjekt">
							<xsd:sequence>
								<xsd:element name="Adresa" type="sAdresa"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Identifikator" type="sIdentifikator"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sTijelo">
		<xsd:annotation>
			<xsd:documentation>Tijelo obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsplaceniPrimiciIObracunPoreza" type="sIsplaceniPrimiciIObracunPoreza"/>
			<xsd:element name="DoprinosiUkupno" type="sDoprinosiUkupno"/>
			<xsd:element name="ObracunatiPorezi" type="sPorezIprirezPremaOpciniGradu"/>
			<xsd:element name="Ukupno" type="sUkupno"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sIsplaceniPrimiciIObracunPoreza">
		<xsd:annotation>
			<xsd:documentation>II. PODACI O ISPLAĆENIM PRIMICIMA I OBRAČUNU POREZA</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Podatak100" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>ISPLAĆENI PRIMICI (članak 14. Zakona)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak200" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>Doprinosi iz osnovice za obvezna osiguranja (članak 16. Zakona)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak210" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>za mirovinsko osiguranje na temelju generacijske solidarnosti</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak220" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>za mirovinsko osiguranje na temelju individualne kapitalizirane štednje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak230" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>ostali doprinosi obračunani i obustavljeni od primitaka</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak300" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>DOHODAK (članak 13. Zakona)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak400" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>OSOBNI ODBICI (članak 36. stavci 1. i 2. Zakona)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak500" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>POREZNA OSNOVICA (3. – 4., članak 45. stavak 4. Zakona)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak600" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>OBRAČUNAN POREZ NA DOHODAK I PRIREZ (6.1. + 6.2.)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak610" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>porez na dohodak</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak620" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>prirez porezu na dohodak</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak700" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>UPLAĆEN POREZ NA DOHODAK I PRIREZ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak800" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>Broj radnika i ostalih primatelja, odnosno umirovljenika</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sDoprinosiUkupno">
		<xsd:annotation>
			<xsd:documentation>III. OBRAČUNANI DOPRINOSI UKUPNO</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Podatak110" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>doprinos za mirovinsko osiguranje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak120" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>dodatni doprinos za staž osiguranja koji se računa s povećanim trajanjem</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak210" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>doprinos za mir. osiguranje na temelju individualne kapitalizirane štednje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak220" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>dodatni doprinos za staž osiguranja koji se računa s povećanim trajanjem</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak310" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>doprinos za zdravstveno osiguranje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak320" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>doprinos za zdravstveno osiguranje zaštite zdravlja na radu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak330" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>posebni doprinos za korištenje zdravstvene zaštite u inozemstvu</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak410" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>doprinos za zapošljavanje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak420" type="temeljni:tDecimal14-2">
				<xsd:annotation>
					<xsd:documentation>posebni doprinos za poticanje zapošljavanja osoba s invaliditetom</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Podatak500" type="xsd:nonNegativeInteger">
				<xsd:annotation>
					<xsd:documentation>Broj osiguranih osoba</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sPorezIprirezPremaOpciniGradu">
		<xsd:annotation>
			<xsd:documentation>IV. Podaci o obračunanom porezu i prirezu prema općini/gradu</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation>PODACI O OBRAČUNANOM POREZU I PRIREZU PREMA OPĆINI/GRADU</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="ObracunatiPorez" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Obračunati porez za jednu općinu/grad</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Sifra">
							<xsd:annotation>
								<xsd:documentation>Šifra općine/grada (troznamenkasti broj)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{3}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="Poreza" type="temeljni:tDecimal14-2">
							<xsd:annotation>
								<xsd:documentation>Iznos poreza</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Prireza" type="temeljni:tDecimal14-2">
							<xsd:annotation>
								<xsd:documentation>Iznos prireza</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Ukupno" type="temeljni:tDecimal14-2">
							<xsd:annotation>
								<xsd:documentation>Ukupno (Porez + Prirez)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sUkupno">
		<xsd:annotation>
			<xsd:documentation>IV. Podaci o obračunanom porezu i prirezu prema općini/gradu - UKUPNO</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>Za sve gradove</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Poreza" type="temeljni:tDecimal14-2"/>
			<xsd:element name="Prireza" type="temeljni:tDecimal14-2"/>
			<xsd:element name="Ukupno" type="temeljni:tDecimal14-2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="sIdentifikator">
		<xsd:annotation>
			<xsd:documentation>Identifikator ID obrasca</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					1 za radnike u radnom odnosu, 2 za imenovane i izabrane osobe, 3 za poduzetničku plaću, 4 za
					umirovljenike, 5 za njegovatelje HRVI-a, 6 za izaslanog radnika, 7 za radnika u kućanstvu, 8 zaposleni u 
					diplomatskim predstavništvima, 9 za sezonske radnike, 10 za poslodavce diplomatskih predstavništva, 
					11 za volontere, 12 za sam. djel. za put u inozemstvo, 13 ostali
				</xsd:documentation>
			</xsd:annotation>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="7"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
			<xsd:enumeration value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
